body {
    background-image: url(https://m.media-amazon.com/images/I/514CceoJS4L._UF894,1000_QL80_.jpg);
    font-family: joystix-monospace;
    padding: 20px;
}

h1 {
    font-size: 35px;
    margin-top: 0;
    margin-bottom: 15px;
}

h2 {
    font-size: 30px;
}

h1, h2 {
    text-align: center;
}

.info {
    width: 80%;
    background-color: #fd5da8;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    max-width: 500px;
}